.container
  %h1.Editing-dish Editing dish
  = render "form", dish: @dish
  %br/
  %div
    = link_to "Show this dish", @dish, class: "btn btn-info"
    |
    = link_to "Back to dishes", dishes_path, class: "btn btn-secondary"
